.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #2a8b8b;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
    }

    .box {
        background: #24232b;
        padding: 24px;
        min-width: 40rem;

        .header {
            color: #fff;
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 24px;

            .copyBtn {
                height: 30px;
                text-align: center;
                font-size: 10px;
            }
        }

        .charlength {
            width: 100%;
            display: flex;
            flex-direction: column;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 24px;

            span {
                // width: 100%;
                display: flex;
                justify-content: space-between;
                padding-bottom: 24px;
            }
        }

        .checkboxes {
            display: grid;
            grid-template-columns: auto auto;
            font-size: 16px;
            font-weight: 700;
            color: #fff;

            div {
                display: flex;
                gap: 5px;
                padding-bottom: 25px;
            }
        }

        .strength {
            width: 100%;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
        }

        .error {
            color: red;
            font-size: 12px;
            padding-bottom: 15px;
        }

        .generateBtn {
            justify-content: center;
            width: 100%;
            font-size: 20px;
            padding: 15px;
        }
    }
}