.inactive {
  width: 80px;
}
.inactive .back-arrow {
  right: -35px;
}
.inactive .back-arrow .icon {
  color: #333;
}
.inactive .back-arrow .icon:hover {
  color: rgb(14, 140, 224);
}
.inactive .main-menu .menu-item span {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.inactive .side-menu-footer .user-info {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu {
  width: 300px;
}
.side-menu .back-arrow {
  right: 0;
}
.side-menu .back-arrow .icon {
  color: #333;
}
.side-menu .back-arrow .icon:hover {
  color: rgb(14, 140, 224);
}

.side-menu,
.inactive {
  position: fixed;
  background: hsl(0, 0%, 0%);
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.side-menu .icon,
.inactive .icon {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}
.side-menu .link,
.inactive .link {
  text-decoration: none;
  color: #fff;
}
.side-menu .top-section,
.inactive .top-section {
  position: relative;
}
.side-menu .top-section .logo,
.inactive .top-section .logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.side-menu .top-section .logo img,
.inactive .top-section .logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.side-menu .top-section .back-arrow,
.inactive .top-section .back-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: hsl(0, 0%, 100%);
  padding: 6px;
  border-radius: 100%;
  background-color: hsl(0, 0%, 100%);
}
.side-menu .search-controller,
.inactive .search-controller {
  color: #666;
  position: relative;
}
.side-menu .search-controller .search-btn,
.inactive .search-controller .search-btn {
  width: 40px;
  height: 35px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #666;
}
.side-menu .search-controller input[type=text],
.inactive .search-controller input[type=text] {
  border: 0;
  outline: none;
  height: 35px;
  background: #333;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  color: #666;
}
.side-menu .divider,
.inactive .divider {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #333;
}
.side-menu .main-menu,
.inactive .main-menu {
  margin: 5px 0;
}
.side-menu .main-menu .menu-item,
.inactive .main-menu .menu-item {
  display: block;
  color: #333;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.side-menu .main-menu .menu-item span,
.inactive .main-menu .menu-item span {
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.side-menu .main-menu .menu-item.active,
.inactive .main-menu .menu-item.active {
  background: #666;
  border-radius: 5px;
  color: #fff;
  margin-top: 5px;
}
.side-menu .main-menu .menu-icon,
.inactive .main-menu .menu-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
.side-menu .main-menu .sub-menu,
.inactive .main-menu .sub-menu {
  color: #333;
  margin-left: 20px;
  border-left: 1px solid #666;
  box-sizing: border-box;
  padding-left: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}
.side-menu .main-menu .sub-menu .sub-menu-item,
.inactive .main-menu .sub-menu .sub-menu-item {
  display: block;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.side-menu .main-menu .sub-menu .sub-menu-item.active,
.inactive .main-menu .sub-menu .sub-menu-item.active {
  background: #666;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  margin-top: 5px;
}
.side-menu .main-menu .active,
.inactive .main-menu .active {
  max-height: 200px;
}
.side-menu .side-menu-footer,
.inactive .side-menu-footer {
  width: 100%;
  height: 100px;
  background: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}
.side-menu .side-menu-footer .avatar,
.inactive .side-menu-footer .avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
  display: inline-block;
}
.side-menu .side-menu-footer .avatar img,
.inactive .side-menu-footer .avatar img {
  max-width: 100%;
}
.side-menu .side-menu-footer .user-info,
.inactive .side-menu-footer .user-info {
  display: inline-block;
  margin: 0 10px;
  color: hsl(0, 0%, 100%);
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.side-menu .side-menu-footer .user-info h5,
.inactive .side-menu-footer .user-info h5 {
  font-size: 15px;
}
.side-menu .side-menu-footer .user-info p,
.inactive .side-menu-footer .user-info p {
  font-size: 13px;
}/*# sourceMappingURL=SideMenu.css.map */